.header {
  background-color: #202020;
  height: 100px;
}

.app-title {
  font-size: 18pt;
}

.header-item {
  color: #ffffff;
  margin: 35px 30px;
  text-decoration: none;
}

span {
  display: inline-block;
}